{% extends "pbase.html" %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Add new album</h2>
            </div>
            <div class="panel-body row">
                <form action="{% url 'photo.views.add_album' %}" method="POST">
                    {% csrf_token %}
                    {{ image_form.non_field_errors }}
                    {% for field in album_form %}
                        <div class="form-group">
                            {{ field.label_tag }}{{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                    <input type="submit" value="Save" class="btn"/>
                </form>
                <div>
                </div>
            </div>
{% endblock %}