{% extends "pbase.html" %}

{% block content %}
    <div class="container">
        <!-- Images -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{{ album.title }}</h2>
            </div>

            <div class="panel-body row">
                <div>
                    View:
                    <a href="{% url 'photo.views.album' album.pk 'thumbnails'%}">thumbnails</a>
                    <a href="{% url 'photo.views.album' album.pk 'full' %}">full</a>&nbsp;
                </div>
                {% for img in images.object_list %}
                    {% if view == "full" %}
                        <div class="col-sm-6 col-md-4 thumbnail">
                        <a href="{% url 'photo.views.image' img.pk %}">
                            <img border="0" alt="" src="{{ img.image.url }}" />
                        </a>
                    {% else %}
                        <div class="col-sm-3 col-md-2 thumbnail">
                        <a href="{% url 'photo.views.image' img.pk %}">
                            <img border="0" alt="" src="{{ img.thumbnail2.url }}" />
                        </a>
                    {% endif %}
                    <div class="caption">
                        <h3 class="text-center">{{ img.title }}</h3>
                        <p class="text-justify">{{ img.tags_ }}</p>
                    </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Next/Prev page links -->
    {% if images.objects_list and images.paginator.num_pages > 1 %}
    <div class="paginator">
        <span class="step-links">
            {% if images.has_previous %}
                <a href="?page={{ images.previous_page_number }}">previous &lt;&lt;</a>
            {% endif %}

            <span class="current">
                &nbps;Page {{ images.number }} of {{ images.paginator.num_pages }}
            </span>

            {% if images.has_next %}
                <a href="?page={{ images.next_page_number }}"> &gt;&gt; next</a>
            {% endif %}
        </span>
    </div>
    {% endif %}

{% endblock %}